<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/settings.css" />

</head>

<body>
    <%- include('./includes/side-nav.ejs') %>
        <div class="wrapper">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <%- include('../../includes/message.ejs') %>
                <main>
                    <form action="/admin/settings/info" method="post">
                        <h3>Change Informations</h3>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div>
                            <label for="mobile">Mobile Number </label>
                            <input class="form-control" type="text" name="mobile" id="mobile" value="<%=user.mobile %>"
                                required>
                        </div>
                        <div>
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" id="name" value="<%=user.name %>"
                                required>
                        </div>

                        <button class="btn btn-success">Update</button>
                    </form>
                    <form action="/admin/settings/password" method="post">
                        <h3>Change Password</h3>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div>
                            <label for="oldPassword">Old Password</label>
                            <input class="form-control" type="password" name="oldPassword" id="oldPassword" required>
                        </div>
                        <div>
                            <label for="newPassword"> New Password</label>
                            <input class="form-control" type="password" name="newPassword" id="newPassword" required>
                        </div>
                        <div>
                            <label for="confirmPassword">Confirm New Password</label>
                            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                                required>
                        </div>
                        <button class="btn btn-success" type="submit">Change</button>
                    </form>
                    <form action="/admin/settings/new-admin" method="post">
                        <h3>New Admin</h3>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div>
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" id="name" required>
                        </div>
                        <div>
                            <label for="mobile">Mobile Number </label>
                            <input class="form-control" type="text" name="mobile" id="mobile" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                        </div>
                        <div>
                            <label for="confirmPassword">Confirm Password</label>
                            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                                required>
                        </div>
                        <button class="btn btn-success" type="submit">Create</button>
                    </form>
                </main>

        </div>


        <%- include('./includes/scripts.ejs') %>
</body>

</html>