<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom styles for this template -->
    <%- include('./templates_includes/template_styles.ejs') %>
        <link href="/shop/css/about.css" rel="stylesheet">

</head>


<body class="home-page is-dropdn-click">
    <%- include('./templates_includes/search.ejs') %>

        <!-- NAViGATION -->

        <%- include('./templates_includes/nav.ejs') %>

            <!-- NAViGATION -->

            <div class="wrapper">
                <header class="section">
                    <div class="hero-img">
                        <img src="/shop/images/about.jpg" alt="">
                    </div>
                </header>

                <section class="about-section-story section">
                    <div class="pic"> <img class=" ls-is-cached lazyloaded" src="/shop/images/about2.jpg"
                            data-src="/shop/images/about2.jpeg" alt=""></div>
                    <div class="text">
                        <h2>Making cookies that matter!</h2>
                        <p>On the 31st of Decemeber, 2020, Cookielicious started
                            from a normal household with the passion for making
                            delicious cookies that suits everyone's needs, we ain't just
                            creating cookies, we are mixing soft, and chewy cookies with
                            well-known sweet brands to ensure that our lovely dough gets
                            mixed with whatever taste you prefer.

                            We blend our dough with nutella, lotus, reese's, m&ms, and many
                            more well-known brands that are already loved by the world.

                            We continue everyday to expand our product range to ensure
                            offering a wide variety of options to our loyal customers,
                            specially healthy cookies, low-carb, keto, and even paleo
                            type cookies!</p>
                    </div>
                </section>

                <section class="about-section-mission">
                    <div class="pic"> <img class=" lazyloaded"
                            src="https://cookiesandcups.com/wp-content/uploads/2013/03/The-Perfect-Cookie-Base-4-scaled.jpg"
                            data-src="https://cookiesandcups.com/wp-content/uploads/2013/03/The-Perfect-Cookie-Base-4-scaled.jpg"
                            alt=""></div>
                    <div class="text">
                        <h3 class="section-title">Our Mission</h3>
                        <h2>A bakery for satisfying people's cookie needs
                            whether it is low-carb, keto, classic, or even
                            your customized colored cookies.</h2>
                        <p>We strive to be all around Egypt, with also moving abroad
                            to different nations to spread our lovely cookies with our
                            amazing lovely brand mix-ins!</p>
                    </div>
                </section>
            </div>
            <%- include('./templates_includes/footer.ejs') %>

                <%- include('./templates_includes/scripts.ejs') %>

</body>

</html>