<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Custom styles for this template -->
        <%- include('./templates_includes/template_styles.ejs') %>
            <link href="/shop/css/about.css" rel="stylesheet">
            <link href="/shop/css/contact.css" rel="stylesheet">
            <link href="/shop/css/policy.css" rel="stylesheet">
    
    </head>


<body class="home-page is-dropdn-click">
    <%- include('./templates_includes/search.ejs') %>

    <!-- NAViGATION -->

    <%- include('./templates_includes/nav.ejs') %>

    <!-- NAViGATION -->

    <div class="wrapper">
        <div class="texted-page">
            <div class="grid">
                <div class="policy-content">
                    <div class="text">
                        <div class="page-title">
                            <h1>Delivery &amp; Returns Policy</h1>
                            <p> Cookielicious customer satisfaction very seriously. In the case of problems with your
                                order, please contact us through our social media pages or send us an email at
                                Cookielicious.eg@gmail.com or call us on 01097329968 and we will assist you. Cookielicious will
                                issue full / partial refund or replacement in the case you: received an incorrect order,
                                if part of your order is missing, or if there are any defective products due to a
                                quality issue. In all received complaints we will do our best to ensure Cookielicious customers
                                satisfaction.</p>
                        </div>
                        <ul class="items">
                            <li>
                                <h4>Delivery Locations</h4>
                                <p>We currently deliver in Cairo, El Gouna &amp; Sahel</p>
                            </li>
                            <li>
                                <h4>Delivery Time</h4>
                                <p>Orders placed before 10 PM are delivered on the same day, while orders that are
                                    placed after 10 PM will be delivered the following day.</p>
                            </li>
                            <li>
                                <h4>Delivery Fees</h4>
                                <p>Fees varies based on your location, starting from 25 EGP. Free delivery on all orders
                                    of 250 EGP &amp; above</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pic"> <img class=" ls-is-cached lazyloaded"
                            src="/shop/images/policy.jpg"
                            data-src="/shop/images/policy.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./templates_includes/footer.ejs') %>

    <%- include('./templates_includes/scripts.ejs') %>

</body>

</html>