<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../../admin/includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/auth.css" />

</head>


<body class="opened-menu">
    <%- include('../includes/side-nav.ejs') %>
        <div class="">
            <main>
                <form action="/admin/login?lang=en" class="auth-form" id="login" method="POST">
                    <%- include('../../../includes/message.ejs') %>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="auth-form_inputs">
                            <h1>Login</h1>
                            <p>Enter Administration Account</p>
                            <div class="form-group">
                                <label for="mobile">Mobile Number</label>
                                <input class="form-control" type="mobile" name="mobile" id="mobile">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password">
                            </div>

                            <button style="position: relative;" class="btn btn-success" type="submit"> Login
                                <img class="loading loading-small none" src="/admin/images/loading(3).svg" alt=""
                                    srcset="">
                            </button>
                        </div>

                </form>
            </main>
            <!-- <%- include('../includes/footer.ejs') %> -->

        </div>

        <%- include('../includes/scripts.ejs') %>

</body>

</html>