<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/settings.css" />

</head>

<body>
        <%- include('./includes/side-nav.ejs') %>
            <div class="wrapper">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <%- include('../includes/message.ejs') %>
                    <main>
                        <form action="/admin/settings/info" method="post">
                            <h3>تغيير المعلومات</h3>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div>
                                <label for="mobile">رقم الموبايل</label>
                                <input class="form-control" type="text" name="mobile" id="mobile"
                                    value="<%=user.mobile %>" required>
                            </div>
                            <div>
                                <label for="name">الاسم</label>
                                <input class="form-control" type="text" name="name" id="name" value="<%=user.name %>"
                                    required>
                            </div>

                            <button class="btn btn-success">تعديل</button>
                        </form>
                        <form action="/admin/settings/password" method="post">
                            <h3>تغيير رقم المرور</h3>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div>
                                <label for="oldPassword">رقم المرور القديم</label>
                                <input class="form-control" type="password" name="oldPassword" id="oldPassword"
                                    required>
                            </div>
                            <div>
                                <label for="newPassword">رقم المرور الجديد</label>
                                <input class="form-control" type="password" name="newPassword" id="newPassword"
                                    required>
                            </div>
                            <div>
                                <label for="confirmPassword">تأكيد رقم المرور</label>
                                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                                    required>
                            </div>
                            <button class="btn btn-success" type="submit">تغيير</button>
                        </form>
                        <form action="/admin/settings/new-admin" method="post">
                            <h3>ادمن جديد</h3>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div>
                                <label for="name">الاسم</label>
                                <input class="form-control" type="text" name="name" id="name" required>
                            </div>
                            <div>
                                <label for="mobile">رقم الموبايل</label>
                                <input class="form-control" type="text" name="mobile" id="mobile" required>
                            </div>
                            <div>
                                <label for="password"> رقم المرور</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                            </div>
                            <div>
                                <label for="confirmPassword">تأكيد رقم المرور</label>
                                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                                    required>
                            </div>
                            <button class="btn btn-success" type="submit">انشاء</button>
                        </form>
                    </main>

            </div>


            <%- include('./includes/scripts.ejs') %>
                <script src="/admin/modules/components/drivers.js"> </script>
                <script src="/admin/modules/interface/drivers.js"> </script>
</body>

</html>